.aclue a::after,
ul.aclue li > a::before {
  font-family: "FontAwesome";
}
ul.aclue  {
  list-style: none;
}
ul.aclue li > a[href]::after {
  content: none;
}
.aclue a::after {
  list-style: none;
  display: inline-block;
  padding-left: 0.2em;
}
ul.aclue li > a::before {
  display: inline-block;
  width: 1.5em;
  text-align: left;
}
ul.aclue li > a::after {
  content: none;
}
