/*            __
*  ___ _ ____/ /_ _____
* / _ `// __/ / // / -_)
* \_,_(_)__/_/\_,_/\__/
*
* A SASS/CSS library that links and anchor supplemented with Icons
* Fancy icons and symbols for your great web project. Easy to use and uses the
* popular web font FontAwesome.
*
* Author:  Raoul René Melcer <raoul.rene.melcer@gmail.com>
* Version: 1.0.0
* Website: https://rrmelcer.github.io/aclue/
* License:
* ----------------------------------------------------------------------------
* "THE BEER-WARE LICENSE" (Revision 42):
* <raoul.rene.melcer@gmail.com> wrote this file. As long as you retain this
* notice you can do whatever you want with this stuff. If we meet some day,
* and you think this stuff is worth it, you can buy me a beer in return.
* Raoul René Melcer
* ----------------------------------------------------------------------------
*/

.aclue a::after,
ul.aclue > li > a::before {
  font-family: "FontAwesome";
}
ul.aclue  {
  list-style: none;
}
ul.aclue > li > a[href]::after {
  content: none;
}
.aclue a::after {
  list-style: none;
  display: inline-block;
  padding-left: 0.2em;
}
ul.aclue > li > a::before {
  display: inline-block;
  width: 1.5em;
  text-align: left;
}
ul.aclue > li > a::after {
  content: none;
}
ul.aclue > li > a[href^="http"]::before,
.aclue a[href^="http"]::after {
  content: "\f08e";
}
ul.aclue > li > a[href^="mailto:"]::before,
.aclue a[href^="mailto:"]::after {
  content: "\f003";
}
ul.aclue > li > a[href^="tel:"]::before,
.aclue a[href^="tel:"]::after {
  content: "\f095";
}
ul.aclue > li > a[href^="file:"]::before,
.aclue a[href^="file:"]::after {
  content: "\f016";
}
ul.aclue > li > a[href^="ftp:"]::before,
.aclue a[href^="ftp:"]::after {
  content: "\f019";
}
ul.aclue > li > a[href$=".pdf"]::before,
.aclue a[href$=".pdf"]::after {
  content: "\f1c1";
  color: #ff0000;
}
ul.aclue > li > a[href$=".xlsx"]::before,
.aclue a[href$=".xlsx"]::after,
ul.aclue > li > a[href$=".ods"]::before,
.aclue a[href$=".ods"]::after {
  content: "\f1c1";
  color: #007133;
}
ul.aclue > li > a[href$=".docx"]::before,
.aclue a[href$=".docx"]::after,
ul.aclue > li > a[href$=".odt"]::before,
.aclue a[href$=".odt"]::after {
  content: "\f1c2";
  color: #2b579a;
}
ul.aclue > li > a[href$=".pptx"]::before,
.aclue a[href$=".pptx"]::after,
ul.aclue > li > a[href$=".odp"]::before,
.aclue a[href$=".odp"]::after {
  content: "\f1c4";
  color: #db5a26;
}
ul.aclue > li > a[href$=".gif"]::before,
.aclue a[href$=".gif"]::after,
ul.aclue > li > a[href$=".png"]::before,
.aclue a[href$=".png"]::after,
ul.aclue > li > a[href$=".jpg"]::before,
.aclue a[href$=".jpg"]::after,
ul.aclue > li > a[href$=".jpeg"]::before,
.aclue a[href$=".jpeg"]::after,
ul.aclue > li > a[href$=".bmp"]::before,
.aclue a[href$=".bmp"]::after,
ul.aclue > li > a[href$=".psd"]::before,
.aclue a[href$=".psd"]::after,
ul.aclue > li > a[href$=".eps"]::before,
.aclue a[href$=".eps"]::after,
ul.aclue > li > a[href$=".indd"]::before,
.aclue a[href$=".indd"]::after,
ul.aclue > li > a[href$=".svg"]::before,
.aclue a[href$=".svg"]::after {
  content: "\f1c5";
  color: #cc2783;
}
ul.aclue > li > a[href$=".rpm"]::before,
.aclue a[href$=".rpm"]::after,
ul.aclue > li > a[href$=".cab"]::before,
.aclue a[href$=".cab"]::after,
ul.aclue > li > a[href$=".msi"]::before,
.aclue a[href$=".msi"]::after,
ul.aclue > li > a[href$=".deb"]::before,
.aclue a[href$=".deb"]::after,
ul.aclue > li > a[href$=".deb"]::before,
.aclue a[href$=".dmg"]::after,
ul.aclue > li > a[href$=".iso"]::before,
.aclue a[href$=".iso"]::after {
  content: "\f187";
  color: #ce5f12;
}
ul.aclue > li > a[href$=".zip"]::before,
.aclue a[href$=".zip"]::after,
ul.aclue > li > a[href$=".gzip"]::before,
.aclue a[href$=".gzip"]::after,
ul.aclue > li > a[href$=".7z"]::before,
.aclue a[href$=".7z"]::after,
ul.aclue > li > a[href$=".arj"]::before,
.aclue a[href$=".arj"]::after,
ul.aclue > li > a[href$=".bzip2"]::before,
.aclue a[href$=".bzip2"]::after,
ul.aclue > li > a[href$=".bzip"]::before,
.aclue a[href$=".bzip"]::after,
ul.aclue > li > a[href$=".lha"]::before,
.aclue a[href$=".lha"]::after,
ul.aclue > li > a[href$=".egg"]::before,
.aclue a[href$=".egg"]::after,
ul.aclue > li > a[href$=".rar"]::before,
.aclue a[href$=".rar"]::after,
ul.aclue > li > a[href$=".vhd"]::before,
.aclue a[href$=".vhd"]::after,
ul.aclue > li > a[href$=".tar"]::before,
.aclue a[href$=".tar"]::after {
  content: "\f1c6";
  color: #eab710;
}
ul.aclue > li > a[href$=".mp1"]::before,
.aclue a[href$=".mp1"]::after,
ul.aclue > li > a[href$=".mp2"]::before,
.aclue a[href$=".mp2"]::after,
ul.aclue > li > a[href$=".mp3"]::before,
.aclue a[href$=".mp3"]::after,
ul.aclue > li > a[href$=".mp4"]::before,
.aclue a[href$=".mp4"]::after,
ul.aclue > li > a[href$=".aac"]::before,
.aclue a[href$=".aac"]::after,
ul.aclue > li > a[href$=".wma"]::before,
.aclue a[href$=".wma"]::after,
ul.aclue > li > a[href$=".wav"]::before,
.aclue a[href$=".wav"]::after,
ul.aclue > li > a[href$=".opus"]::before,
.aclue a[href$=".opus"]::after,
ul.aclue > li > a[href$=".ada"]::before,
.aclue a[href$=".ada"]::after,
ul.aclue > li > a[href$=".fla"]::before,
.aclue a[href$=".fla"]::after,
ul.aclue > li > a[href$=".flac"]::before,
.aclue a[href$=".flac"]::after,
ul.aclue > li > a[href$=".ogg"]::before,
.aclue a[href$=".ogg"]::after {
  content: "\f1c7";
  color: #000000;
}
ul.aclue > li > a[href$=".txt"]::before,
.aclue a[href$=".txt"]::after,
ul.aclue > li > a[href$=".md"]::before,
.aclue a[href$=".md"]::after,
ul.aclue > li > a[href$=".textile"]::before,
.aclue a[href$=".textile"]::after,
ul.aclue > li > a[href$=".tex"]::before,
.aclue a[href$=".tex"]::after {
  content: "\f0f6";
  color: #000000;
}
ul.aclue > li > a[href$=".c"]::before,
.aclue a[href$=".c"]::after,
ul.aclue > li > a[href$=".h"]::before,
.aclue a[href$=".h"]::after,
ul.aclue > li > a[href$=".cpp"]::before,
.aclue a[href$=".cpp"]::after,
ul.aclue > li > a[href$=".js"]::before,
.aclue a[href$=".js"]::after,
ul.aclue > li > a[href$=".css"]::before,
.aclue a[href$=".css"]::after,
ul.aclue > li > a[href$=".java"]::before,
.aclue a[href$=".java"]::after,
ul.aclue > li > a[href$=".py"]::before,
.aclue a[href$=".py"]::after,
ul.aclue > li > a[href$=".rb"]::before,
.aclue a[href$=".rb"]::after,
ul.aclue > li > a[href$=".sql"]::before,
.aclue a[href$=".sql"]::after,
ul.aclue > li > a[href$=".pl"]::before,
.aclue a[href$=".pl"]::after,
ul.aclue > li > a[href$=".pm"]::before,
.aclue a[href$=".pm"]::after,
ul.aclue > li > a[href$=".vim"]::before,
.aclue a[href$=".vim"]::after,
ul.aclue > li > a[href$=".lsp"]::before,
.aclue a[href$=".lsp"]::after {
  content: "\f1c9";
  color: #0000ff;
}
ul.aclue > li > a[href*="500px.com"]::before,
.aclue a[href*="500px.com"]::after {
  content: "\f26e";
  color: #0099e5;
}
ul.aclue > li > a[href*="app.net"]::before,
.aclue a[href*="app.net"]::after {
  content: "\f170";
  color: #ffffff;
}
ul.aclue > li > a[href^="https://www.amazon."]::before,
.aclue a[href^="https://www.amazon."]::after {
  content: "\f270";
  color: #ff9900;
}
ul.aclue > li > a[href^="https://angel.co"]::before,
.aclue a[href^="https://angel.co"]::after {
  content: "\f209";
  color: #ffffff;
}
ul.aclue > li > a[href*="behance.net"]::before,
.aclue a[href*="behance.net"]::after {
  content: "\f1b4";
  color: #1769ff;
}
ul.aclue > li > a[href^="https://bitbucket.org"]::before,
.aclue a[href^="https://bitbucket.org"]::after {
  content: "\f171";
  color: #205081;
}
ul.aclue > li > a[href^="http://codepen.io"]::before,
.aclue a[href^="http://codepen.io"]::after {
  content: "\f1cb";
  color: #ffffff;
}
ul.aclue > li > a[href*="linkedin.com"]::before,
.aclue a[href*="linkedin.com"]::after {
  content: "\f0e1";
  color: #0077b5;
}
ul.aclue > li > a[href^="https://medium.com"]::before,
.aclue a[href^="https://medium.com"]::after {
  content: "\f23a";
  color: #00ab6c;
}
ul.aclue > li > a[href^="https://www.facebook.com"]::before,
.aclue a[href^="https://www.facebook.com"]::after {
  content: "\f230";
  color: #3b5998;
}
ul.aclue > li > a[href^="https://github.com"]::before,
.aclue a[href^="https://github.com"]::after {
  content: "\f09b";
  color: #333333;
}
ul.aclue > li > a[href^="https://plus.google.com/"]::before,
.aclue a[href^="https://plus.google.com/"]::after {
  content: "\f0d5";
  color: #dc4e41;
}
ul.aclue > li > a[href^="https://www.instagram.com"]::before,
.aclue a[href^="https://www.instagram.com"]::after {
  content: "\f16d";
  color: #3f729b;
}
ul.aclue > li > a[href^="https://twitter.com"]::before,
.aclue a[href^="https://twitter.com"]::after {
  content: "\f099";
  color: #55acee;
}
ul.aclue > li > a[href*="whatsapp://"]::before,
.aclue a[href*="whatsapp://"]::after {
  content: "\f232";
  color: #43d854;
}
ul.aclue > li > a[href^="https://www.xing."]::before,
.aclue a[href^="https://www.xing."]::after {
  content: "\f168";
  color: #026466;
}
ul.aclue > li > a[href^="https://www.youtube.com"]::before,
.aclue a[href^="https://www.youtube.com"]::after {
  content: "\f167";
  color: #cd201f;
}
ul.aclue > li > a[href*="apple.com"]::before,
.aclue a[href*="apple.com"]::after {
  content: "\f179";
  color: #999999;
}
ul.aclue > li > a[href^="https://play.google.com"]::before,
.aclue a[href^="https://play.google.com"]::after {
  content: "\f17b";
  color: #a4c639;
}
ul.aclue > li > a[href^="https://soundcloud.com"]::before,
.aclue a[href^="https://soundcloud.com"]::after {
  content: "\f1be";
  color: #ff8800;
}
ul.aclue > li > a[href*="spotify.com"]::before,
.aclue a[href*="spotify.com"]::after {
  content: "\f1bc";
  color: #2ebd59;
}
ul.aclue > li > a[href^="http://stackoverflow.com"]::before,
.aclue a[href^="http://stackoverflow.com"]::after {
  content: "\f16c";
  color: #fe7a15;
}
ul.aclue > li > a[href*="slack.com"]::before,
.aclue a[href*="slack.com"]::after {
  content: "\f1e7";
  color: #e01563;
}
ul.aclue > li > a[href*="skype.com"]::before,
.aclue a[href*="skype.com"]::after {
  content: "\f17e";
  color: #00aff0;
}
ul.aclue > li > a[href*="pinterest.com"]::before,
.aclue a[href*="pinterest.com"]::after {
  content: "\f0d2";
  color: #bd081c;
}
ul.aclue > li > a[href^="https://www.paypal.com"]::before,
.aclue a[href^="https://www.paypal.com"]::after {
  content: "\f1ed";
  color: #003087;
}
ul.aclue > li > a[href^="https://gratipay.com"]::before,
.aclue a[href^="https://gratipay.com"]::after {
  content: "\f184";
  color: #663300;
}
ul.aclue > li > a[href^="https://www.google."]::before,
.aclue a[href*="https://www.google."]::after {
  content: "\f1a0";
  color: #4285f4;
}
ul.aclue > li > a[href^="https://foursquare.com"]::before,
.aclue a[href^="https://foursquare.com"]::after {
  content: "\f180";
  color: #2d5be3;
}
ul.aclue > li > a[href^="https://getpocket.com"]::before,
.aclue a[href^="https://getpocket.com"]::after {
  content: "\f265";
  color: #ef4056;
}
ul.aclue > li > a[href^="https://www.flickr.com"]::before,
.aclue a[href^="https://www.flickr.com"]::after {
  content: "\f16e";
  color: #ff0084;
}
ul.aclue > li > a[href^="http://www.deviantart.com"]::before,
.aclue a[href^="http://www.deviantart.com"]::after {
  content: "\f1bd";
  color: #05cc47;
}
ul.aclue > li > a[href^="http://digg.com"]::before,
.aclue a[href^="http://digg.com"]::after {
  content: "\f1a6";
  color: #005be2;
}
ul.aclue > li > a[href^="https://dribbble.com"]::before,
.aclue a[href^="https://dribbble.com"]::after {
  content: "\f17d";
  color: #ff8833;
}
ul.aclue > li > a[href^="https://www.dropbox.com"]::before,
.aclue a[href^="https://www.dropbox.com"]::after {
  content: "\f16b";
  color: #007ee5;
}
ul.aclue > li > a[href*="delicious.com"]::before,
.aclue a[href*="delicious.com"]::after {
  content: "\f1a5";
  color: #3399ff;
}
ul.aclue > li > a[href^="https://www.tripadvisor."]::before,
.aclue a[href^="https://www.tripadvisor."]::after {
  content: "\f262";
  color: #589442;
}
ul.aclue > li > a[href*="stumbleupon.com"]::before,
.aclue a[href*="stumbleupon.com"]::after {
  content: "\f1a4";
  color: #ec4b24;
}
ul.aclue > li > a[href*=".yelp."]::before,
.aclue a[href*=".yelp."]::after {
  content: "\f1e9";
  color: #af0606;
}
ul.aclue > li > a[href^="https://www.yahoo."]::before,
.aclue a[href^="https://www.yahoo."]::after {
  content: "\f19e";
  color: #410093;
}
ul.aclue > li > a[href^="https://wordpress.com"]::before,
.aclue a[href^="https://wordpress.com"]::after {
  content: "\f19a";
  color: #21759b;
}
ul.aclue > li > a[href*="wikipedia.org"]::before,
.aclue a[href*="wikipedia.org"]::after {
  content: "\f266";
  color: #000000;
}
ul.aclue > li > a[href*="vk.com"]::before,
.aclue a[href*="vk.com"]::after {
  content: "\f189";
  color: #45668e;
}
ul.aclue > li > a[href^="https://vimeo.com"]::before,
.aclue a[href^="https://vimeo.com"]::after {
  content: "\f27d";
  color: #1ab7ea;
}
ul.aclue > li > a[href*="tumblr.com"]::before,
.aclue a[href*="tumblr.com"]::after {
  content: "\f173";
  color: #35465c;
}
ul.aclue > li > a:not([href^="http"])::before,
.aclue a:not([href^="http"])::after {
  content: "\f105";
}
